
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>About Ruby On Rails</title>
</head>
<body> 
	<div class="container">
	</br>
		<%= yield%>

	</div>
	To Study Ruby On Rails
	<%= @about_me %>
	2+2<%= @answer %>
</body>
</html>